<div class="content-section-about">
    <div class="container">
        <div class="row">
        	<div class="col-xs-12">
            	<h2 class="text-center" style="font-size:34px;margin-top:0px">
                What we believe
                </h2>
                <p style="font-size:15px">
               We emphasize on working smart and not working hard. By 2020, the work culture will reform and reduce the work timing to 4 days a week and that eventually will bring more dependency, better plus fast execution and clear communication among colleagues.

At Vibrant, we believe in simplifying the teamwork, we believe in growth, and we believe in collaboration. We promise to bring you a remarkable difference by developing innovative apps and solutions to a wide range of our workplace problems. </p>
            </div>
            
            
            <div class="col-xs-12 text-center">
            	<h2 style="font-size:34px;margin-top:25px">Our team</h2>
                <div class="row team">
                	<div class="col-sm-4 col-xs-12 col-sm-offset-2">
                    	<figure>
                        	<img src="images/PranavT.PNG" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Pranav Tej</h3>
                        <p><strong>Founder & CEO</strong></p>
<p style="font-size:15px">Pranav brings combined experience across different business verticals. Having tried & tested different applications to enable a person to be more productive at work, he came up with the idea to develop a single platform to simplify the teamwork & build an efficient work culture. </p>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <figure>
                            <img src="images/Ashwini.PNG" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Aswini Lakhotia</h3>
                        <p><strong>Advisor & Co-founder</strong></p>

<p style="font-size:15px">Aswini has built and runs more than five successful ventures. Combined with his 25+ years of experience in manufacturing industry, he loves building next generation companies.</p>
                    </div>
                    </div>


                    <div class="row team">
                    <div class="col-sm-4 col-xs-12">
                        <figure>
                            <img src="images/Dinesh.PNG" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Dinesh</h3>
                       

<p style="font-size:15px">Graduate from JBIET, Dinesh focuses on creating result driven intuitive applications for the user base. His personal philosophy is “Live to travel” and he practices it by working remotely while staying productive.
</p>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <figure>
                            <img src="images/kasturi.jpg" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Kasturi</h3>
                       

<p style="font-size:15px">She breathes in & out on social media making sure she’s not left out of any breaking news. She has intertwined her computer science skills & marketing blend to grow the user base of multiple startups. Follow her @kasturishr.</p>
                    </div>


                    <div class="col-sm-4 col-xs-12">
                        <figure>
                            <img src="images/Chakra.PNG" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Chakradhar</h3>
                        

<p style="font-size:15px">He likes taking pride in being an electrical engineer from IIT Bombay and pivoting his work path towards developing applications. He is the quietest among us and at the same time loves heavy metal music.</p>
                    </div>

                    
                    
                    
                    
                </div>

                <div class="row team">

                    <div class="col-sm-4 col-xs-12 col-sm-offset-2">
                        <figure>
                            <img src="images/vamshi.PNG" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Vamshi</h3>
                       
<p style="font-size:15px">CS graduate from IIT KGP,  Vamshi is a passionate coder. He believes in loving the work he does in order to do the great work. Apart from coding, he is a cuisine explorer and sports player.</p>
                    </div>


                    <div class="col-sm-4 col-xs-12">
                        <figure>
                            <img src="images/Ajay.jpg" alt="team" class="img-circle img-responsive" style="max-width:80%"/>
                        </figure>
                        <h3>Ajay</h3>
                       

<p style="font-size:15px">Graduated from RRIT Bangalore(ECE), Ajay is a self taught coder. He likes watching movies, anime's, playing video games and listening to rock music. </p>
                    </div>

                    
                    
                    
                    
                </div>
                

            </div>
        </div>
    </div>
</div> 

<style type="text/css">

/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

p{
    font-weight: normal !important;
}
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 20px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 6px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat 50% 0;
    /*background-size: cover;*/
}

.intro-message {
    position: relative;
    padding-top: 26%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 45px;
     /*font-family: 'helveticaltcondensedlight';*/
     font-weight:200;
     display:inline-block;
     vertical-align: middle;
     position:relative;
}
.forDesk{
    position:absolute;
    left:100%;
}




.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    font-family: 'Poppins', sans-serif;
    font-size:45px;
    margin:40px 0 0;
}



.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 8.5% 0;
    background-color: #f8f8f8;
    font-size:34px; 
    color:#654e5b; 
    font-weight:400;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background:#3f84ef;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}
p.copyright {
    margin: 15px 0 0; font-size:16px; color:#3f84ef; font-weight: 400;
}


/*edited*/
.container{
max-width:970px;
}
.social-icons{
padding:0; font-size: 19px;     margin-top: 3px;
}
.social-icons li{
    list-style:none;
    margin-left:10px;
}
.social-icons li a{
    border-radius:21px;
    color:#fff;
    background:#3e2233;
    width:42px;
    height:42px;
    line-height: 42px;
    padding: 0;
    text-align:center;
    display:inline-block;
}
.social-icons li a:hover{
    background:#e61f26 !important;
    color:#fff !important
}
.navbar-default .social-icons > li > a{
color:#fff;
transition:all .2s ease-in-out;
}

.invite button, .social-icons li a{
transition:all .2s ease-in-out;
}

.navbar-right{
    padding:4.8% 0;
}
#scrollDown i{
font-size:100px;
font-weight:200;
}

.invite button{
background:#c11e25;
border-radius:0 5px 5px 0;
border:none;
min-height:54px;
color:#fff;
font-weight:bold;
}
.invite input{
    border-radius:5px 0 0 5px;
    background:#fff;
    border:none;
    min-height:54px;
}
footer .social-icons li{
margin:0;
}

::-webkit-input-placeholder {
   color: #d1d2d4;
   opacity:0.8;
   font-weight:400;
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d1d2d4;  
   opacity:0.8;
   font-weight:400;
   text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d1d2d4;  
   opacity:0.8;
   font-weight:400;
   text-align:center;
}

:-ms-input-placeholder {  
   color: #d1d2d4; 
   opacity:0.8;
   font-weight:400;
   text-align:center; 
}

.invite .form-control, .invite button{
font-size:22px;
}
#scrollDown{color:#fff;}


/*CAROUSEL STYLE*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
  .carousel-control.left, .carousel-control.right{
  background:none;
  }
    .carousel-control .glyphicon{
    border-radius:50px;
    }
  
  .carousel-control .glyphicon.lft{
  background:#fff url('../img/arrow-left.png') no-repeat 42% center;
  }
  
  .carousel-control .glyphicon.rht{
  background:#fff url('../img/arrow-right.png') no-repeat 53% center;
  }
  .glyphicon-menu-right:before, .glyphicon-menu-left:before{content:'' !important;}
  .glyphicon-menu-left:before, .glyphicon-menu-right:before{
    vertical-align:middle;
  }
  .carousel-inner h3, 
  .content-section-b h2{
  font-family: 'Poppins', sans-serif;
  }
  .content-section-b h2{
  font-family: 'Poppins', sans-serif;
  font-size:62px;
  }
  .content-section-b p{
    font-size:25px; font-weight:400;margin-top:20px;
  }
  .content-section-b h2, .content-section-b p, .carousel-inner h3{
    color:#fff;
  }

.carousel-inner h3{
    font-size:45px; margin-top: 60px;
}

footer{
background:#c5dafa;
padding:70px 0;
}
footer form{
margin-bottom:35px;
}
footer .social-icons li a{
background:#79a9f4
}
footer .social-icons li a:hover{
background:#5290f1;
}

footer .invite .form-control, footer .invite button{
font-size:30px;
    min-height: 79px;
}
footer .invite button{
border-radius:0 10px 10px 0;
}
footer .invite input{
border-radius:10px 0 0 10px;
} 
.forMob{display:none;}

/*ABOUT US*/

.content-section-about .row{
    padding:20px 0;
}


.content-section-about h2, 
.content-section-about h3{
color: #3e2233;
}
.content-section-about h2{
    margin-top:40px;
}
.content-section-about h3{
    font-size:28px;
}

.content-section-about p{
    font-size:21px;
}
.content-section-about h2{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}
.team figure{
    position:relative;
}
.team figure a{
    display:none;
    position:absolute;
    top:50%;
    right:10%;
    width:26px;
    height:26px;
    border-radius:13px;
    background-color:#3e2233;
    color:#fff;
    line-height:26px;
}

.linkedIcon{
    width:26px;
    height:26px;
    border-radius:13px;
    background-color:#3e2233;
    color:#fff;
    display:inline-block;
    font-size:14px;
    line-height:26px;
}
.linkedIcon:hover, .team figure a:hover{
    opacity:0.8;
    color:#fff;
}


.team figure:hover a{
    display:inline-block;
}
/*contact page*/

.content-section-contact{
    padding:20px 0 40px 0;
}
#map-container div{
    max-width:100%;
}

/*FONT*/


@font-face {
    font-family: 'helveticaltcondensedlight';
    src: url('../fonts/helveticaltcondensedlight.eot');
    src: url('../fonts/helveticaltcondensedlight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltcondensedlight.woff') format('woff'),
         url('../fonts/helveticaltcondensedlight.ttf') format('truetype'),
         url('../fonts/helveticaltcondensedlight.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}




@media(max-width:767px) {
    .intro-message > h1 {
        font-size: 5em;
    }
    .intro-message > h3, .content-section-b h2, .carousel-inner h3{
        font-size:2em;
    }
    
    .intro-message > h3{
        margin:20px 0 0;
    }
    
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .carousel-inner > .item{
        display:block; padding:5% 0; border-bottom:2px solid #fff; overflow:hidden;
    }
    
    .carousel-inner > .item:last-child{border:none;}
    .carousel{padding-bottom:0;border-top: 2px solid #fff;}
    
    .carousel-control, .carousel-inner > .item > img, .carousel-indicators, .carousel-inner > .item:nth-child(2){
        display:none;
    }
    .carousel-inner h3{
        margin-top:10px !important;
    }
    
    footer .invite .form-control, footer .invite button{
        min-height:54px !important; font-size:1.5em !important;
    }
    footer .invite .form-control{
        width:63%;
    }
    
    footer .invite button{
        width:37%;
    }
}

@media(max-width:768px) {
.intro-header{
    background:#e61f26; padding-top:0;
}
.intro-header > img{
    display:block !important;
}
.navbar-right {
     text-align: right;
}

.navbar-collapse{
    background:#c6d9f9;
}
.social-icons{
    margin: 20px 0 0 !important;
}
.social-icons li, .nav.navbar-nav{margin:0;}
.nav.navbar-nav li{
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0px #DCDBDB;
    margin:5px 0 0 0;
}
.navbar-header{padding:20px;}
.navbar-brand.topnav{padding:0;}
.navbar{min-height:initial}
.intro-message{padding:3% 0}
.form-inline .form-control{
    display: inline-block;
    width: 63.5%;
}
.invite input, .invite button{min-height:44px !important}
.invite button{ width: 36%;  min-height: 44px;}


}


@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    #scrollDown i{
        font-size:50px;
    }
    
    .forDesk{display:none;}
    .forMob{display:block; font-size:0; margin:0 0 15px 0;}
    
}

@media(max-width:480px) {
.intro-message > h3, .content-section-b h2, .carousel-inner h3{
    font-size:1.5em;
}

.invite .form-control, .invite button{
    font-size:0.8em !important;
}

.content-section-a, .content-section-b p{
    font-size:1.3em;
}
.navbar-brand.topnav{
    width:70%;
}

footer .invite .form-control, footer .invite button{
    font-size:0.9em !important;
    padding:6px;
}
footer .invite button{
        border-radius: 0 5px 5px 0
}
}


</style>