<img src="images/appicon.png" id="phone-menu-icon" style="display:none;margin:0 auto;" />
<h3 class="phone-caption" style="display:none;margin:0 auto;"><center><b>vibrant work app</b></center></h3>

<div class="jumbotro">
  <div class="main-content">
    <h1 class="jumbo-text">One App.</h1>
    <h1 class="jumbo-text">Happy Productivity.</h1>
    <h2 style="margin-top:38px !important" class="jumbo-subtext">Why use Vibrant?</h2>
    <p class="jumbo-points">1. Quick and easy communication</p>
    <p class="jumbo-points">2. Visualize and organize your tasks, your work day wonder</p>
    <p class="jumbo-points">3. Help you track how you're with tasks and your time</p>
    <a id="phone-menu-btn" style="line-height:25px !important;margin-top:25px !important;margin:0 auto;" class="btn nav-menu" ng-href="#/contact">Start free trial</a>

    <div style="margin-top:10px">
      <div blowup update class="feature-block" colorc={{i.color}} idx={{$index}} ng-repeat="i in features"> 
        <img class="popup" src={{i.img}}>
        <center class="feature-content">
          <p><b>{{i.header}}</b></p>
          <h5>{{i.content}}</h5>
        </center>
      </div>
    </div>
  
  </div>
  <!-- hero shot -->
  <div class="hero-shot">
    <img class="hero-shot-img" src="images/phonescreen_businesschat.png">
  </div>
</div>


